<p id="notice"><%= notice %></p>

<h1>Roulettes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roulettes.each do |roulette| %>
      <tr>
        <td><%= roulette.color %></td>
        <td><%= roulette.rand_number %></td>
    <% end %>
  </tbody>
</table>
<br>
